# Dependency directory
node_modules
typings

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# output/generated
dist
bundles
npm-debug.log*
**/*.js
**/*.js.map
**/*.d.ts

# Workspace Settings
.idea/workspace.xml
.vscode

# DO NOT ignore (must come last)
!demos/*/systemjs.config.js
!src/typings.d.ts
!index.d.ts
